<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Markets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Markets</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <xereca>
        </xereca>
      </ion-col>
      <ion-col>
        <xereca>
        </xereca>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
